package $package;

import org.osgi.framework.BundleActivator;
import org.osgi.framework.BundleContext;
import java.lang.Override;

public class $className implements BundleActivator {

    private static BundleContext context;

    @Override
    public void start(BundleContext bundleContext) throws Exception {
        Activator.context = bundleContext;
    }

    @Override
    public void stop(BundleContext bundleContext) throws Exception {
        Activator.context = null;
    }
}